@import "_reset";
// ----------------Responsive---------------------
$rs: 768px;
@mixin rs {
  @media (max-width: ($rs)) {
    @content;
  }
}
// -----------------------------------------------
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  color: #333;
  font-size: 1.2rem;
  font-family: 'Merriweather','Noto Sans JP',"Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: #d03c56;
  text-decoration: none;
}
.btn {
  display: inline-block;
  padding: 26px 80px;
  font-size: 2.2rem;
  letter-spacing: 3px;
  border-radius: 10px;
  cursor: pointer;
}
.gst-btn {
  background: transparent;
}
.select-color {
  color: #e67e22;
}
$title-color: #753A00;
// -----------------------------------------------
.wrapper {
  display: flex;
  overflow: hidden;
  .side-menu {
    position: relative;
    width: 16%;
    height: 100vh;
    text-align: center;
    letter-spacing: 1px;
    .fixed {
      position: fixed;
      box-shadow: inset 0 0 20px rgba(0,0,0,0.4);
      width: 16%;
      height: 100vh;
    }
    .logo {
      margin: 70px auto 0;
      .logo-image {
      display: inline-block;
      width: 50px;
      height: 50px;
      }
      .logo-title {
      display: block;
      margin: 20px 0 20px;
      font-size: 3rem;
      color: #333;
      }
    }
    .sub-title {
      font-size: 1.5rem;
    }
    .global-menu {
      margin: 50px auto 0;
      .menu-item + .menu-item {
        margin-top: 50px;
      }
      .menu-item > a {
        font-size: 1.6rem;
        color: #333;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .details {
      margin: 30px auto 0;
      line-height: 2;
    }
    .details > h2 {
      font-size: 1.6rem;
    }
    .details > p {
      font-size: 1.2rem;
    }
  }
  .main-menu {
    width: 84%;
    // background-color: #2c3e50;
    .top-image {
      position: relative;
    }
    .about {
      position: absolute;
      line-height: 2.6;
      width: 70%;
      margin: 0 15%;
      bottom: 0;
      color: #fff;
      letter-spacing: 1px;
      z-index: 20;
      > h2 {
        line-height: 1.5;
        margin-bottom: 40px;
        font-size: 5rem;
        text-shadow: 2px  2px 3px #333333,
                   -2px  2px 3px #333333,
                   2px -2px 3px #333333,
                   -2px -2px 3px #333333;
      }
      > p {
        margin: 20px 0;
        font-size: 2rem;
      }
      .btn {
      display: block;
      border: 2px solid #ffffff;
      color: #ffffff;
      margin: 100px auto;
        > a {
        text-shadow: 2px  2px 3px #333333,
                     -2px  2px 3px #333333,
                     2px -2px 3px #333333,
                     -2px -2px 3px #333333;
        color: #fff;
        }
      }
    }
    .slider img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
    .top-image::after {
      content:'';
      background-color: rgba(0,0,0,0.6);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .news {
      margin-top: 60px;
    }
    .news-title {
      color: $title-color;
      margin: 0 15% 10px;
      font-size: 4.2rem;
    }
    .menu {
      margin-top: 60px;
    }
    .menu-title {
      color: $title-color;
      margin: 0 15% 10px;
      font-size: 4.2rem;
    }
    .access {
      margin-top: 60px;
    }
    .access-title {
      color: $title-color;
      margin: 0 15% 10px;
      font-size: 4.2rem;
    }
    .access-items {
      letter-spacing: 1px;
      line-height: 2;
      margin: 20px 15% 40px;
      font-size: 1.8rem;
    }
    .large-text {
      font-size: 3.0rem;
    }
    .map {
      text-align: center;
      margin-bottom: 100px;
      > iframe {
        filter: grayscale(0.4);
        &:hover {
          transition: filter 0.8s ease;
          filter: grayscale(0) saturate(2);
        }
      }
    }
  }
  .footer {
    height: 70px;
    line-height: 70px;
    background-color: #333333;
    .copywriter {
      // padding-top: 30px;
      text-align: center;
      color: #ffffff;
    }
  }
}